#!/bin/bash

#SBATCH --job-name=run%L%
#SBATCH --partition=g-v100-1
#SBATCH -n 1
#SBATCH --ntasks-per-node=1
#SBATCH --output=run%L%.out
#SBATCH --error=run%L%.err

pmemd.cuda -i min.in -c ti.rst7 -ref ti.rst7 -p ti.parm7 \
  -O -o min.out -inf min.info -e min.en -r min.rst7 -l min.log

pmemd.cuda -i heat.in -c min.rst7 -ref ti.rst7 -p ti.parm7 \
  -O -o heat.out -inf heat.info -e heat.en -r heat.rst7 -x heat.nc -l heat.log

pmemd.cuda -i ti1.in -c heat.rst7 -p ti.parm7 -O -o ti001.out -inf ti001.info -e ti001.en -r ti001.rst7 -x ti001.nc -l ti001.log